@use "./colors";


.main-characters {
    display: flex;
    justify-content: center;
}


.container-characters {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .header-characters {
 margin: 0 auto;
    }

    .title {
        margin:4rem 0;
        font-size: 5rem;
        color:colors.$greylight-color;
        font-weight:900;
        text-transform: uppercase;
        letter-spacing: 1rem;
       
    }
}

.content-characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


    
    .card-character {     
        margin:3rem 1rem 0rem 1rem;
        background-color: white;
        height:45rem;


        .content-card-picture-character img {
            width:100%;
            height:100%;
        border: 2px yellowgreen solid;
        }
        
       .card-picture-character  {
        border: 2px blue solid;
        object-fit: cover;
        overflow: hidden;
        width:30rem;
        height:20rem;

       }

       .divider {
        display: block;
        height:0.5rem;
        background-color: red;
        width: 100%;
        border: 1px red solid;
       }

       .card-infos-character {
        padding:2rem;

        .card-name-character {
            color:colors.$greylight-color;
            font-size: 1.8rem;
    
        }

        .card-description-character {
            font-size: 1rem;
            color:colors.$greylight-color;
            border: 1px red solid;
            width:30rem;
           
        }
       }
    }
    
}

