@use "./colors";


.main-comics {
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.slider-comics {
    width:100%;
    background-color: black;
    overflow: hidden;
    z-index:-1;
    height:40rem;

    img {
        opacity: 0.1;
    }
}

.container-comics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width:128rem;  
    margin: 0 auto;
    margin-top:-35rem;

    .header-comics {
    margin: 0 auto;
 
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            margin:0rem 0 1rem 0;
            font-size: 5rem;
            color:rgb(192, 192, 192);
            font-weight:700;
            text-transform: uppercase;
            letter-spacing: 1rem;
        }

        p{
          color:rgb(192, 192, 192);  
          font-size: 1.2rem;
          margin:0rem 0 3rem 0;
          letter-spacing: 0.3rem;
          max-width:60rem;
          text-align: center;
        }
      
       
    }

    .search-comics {
        input {
        width:56rem;
        margin-bottom:2rem;
        border: none;
        padding:1.5rem;
        background-color: rgb(51, 51, 51);
        outline: none;
        color: white;
        }
    }
}

.content-comics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


    
    .card-comic {     
        margin:3rem 0.4rem 0rem 1rem;
        max-width:25rem;
        position: relative;
        top: 0;
        transition: top ease 0.5s;      


       .divider {
        display: block;
        height:0.5rem;
        background-color: #e62429;
        width: 100%;
       }

       .card-infos-comic {
        padding:1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
   
        

        .card-name-comic {
            color:colors.$black-color;
            font-size: 0.8rem;
            font-weight: bold;
            text-align: center;

           
 
        }

        .card-description-comic {
            font-size: 1.1rem;
            line-height: 2rem;
            color:rgb(192, 192, 192);
            margin-top:2rem;

          
        }
       }
    }
    
}


.card-comic:hover {  
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    top: -1rem;
}

