@use "./colors";

header {
    background-color: colors.$black-color;
    position: sticky;
    top:0;
    z-index: 5;

.main-header{
    border-bottom: 1px solid #3a3a3a;
}
 
.container-header {
margin: 0 auto;
max-width:128rem;
display: flex;
justify-content: center;
align-items: center;
height:5rem;



.logo img {
     height:5rem;         
  }
  
   .connexion {
     display: flex;
   }

}

.main-menu {
    border-bottom: 1px solid #3a3a3a;

    .container-menu {
      max-width:128rem;
      margin: 0 auto;
      height:4rem;
      display: flex;
      justify-content: center;
      align-items: center;


        ul {
            display: flex;
         
    
            .button-menu {
                color:colors.$greylight-color;
                margin:0 2rem;
                font-size: 1.2rem;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: bold;
                letter-spacing: 0.2rem;

                &:hover{
                    color:white;
                    -webkit-transition: all 0.2s linear;
                    -moz-transition: all 0.2s linear;
                    -o-transition: all 0.2s linear;
                    transition: all 0.2s linear;
                }

            }
            .button-menu:focus {
                color:white;
            }

         
            
        }
    }
}



    
    
  
}

