@use "./colors";

.main-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$black-color;
    width:100vw;
    height:100vh;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid colors.$red-color;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }